@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: Gotham;
    src: font-url('Gotham-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: Gotham;
    src: font-url('Gotham-Book.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: Gotham;
    src: font-url('Gotham-Medium.woff') format('woff');
    font-weight: 500;
}

body{
  font-size: 13px;
  padding: 0px 30px 30px 30px;
  font-family: 'Gotham', 'Helvetica Neue', sans-serif;
  color:#333333;
}

.packery-item { 
  @media(max-width:991px){
    width: 50%;
  }
  @media(max-width:480px){
    width: 100%;
  }
  width: 25%;
  padding:10px;
  text-align: justify;
  img{
    width:100%;
  }
}